<a href="https://colab.research.google.com/github/l22140169-arch/Analisis-y-visualizacion-de-datos/blob/main/Ejercicios_practicos_Python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1:Extracción y Exploración Básica

In [3]:
import pandas as pd

In [4]:
df=pd.read_excel("ventas_mensuales.xlsx")

In [5]:
print(df.head())

       Mes Producto  Cantidad  Precio_Unitario Region
0    Enero   Laptop        15           850.50  Norte
1  Febrero    Mouse        45            25.00    Sur
2    Marzo  Teclado        30            45.75   Este
3    Abril  Monitor        12           320.00  Oeste
4     Mayo   Laptop        18           850.50  Norte

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mes              12 non-null     object
 1   Producto         12 non-null     object
 2   Cantidad         12 non-null     int64
 3   Precio_Unitario  12 non-null     float64
 4   Region           12 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 612.0+ bytes
None

In [7]:
print(df.shape)

(12, 5)

In [8]:
print(df.columns.tolist())

['Mes', 'Producto', 'Cantidad', 'Precio_Unitario', 'Region']

# Ejercicio 2: Transformación de Datos - Columnas  Calculadas

In [9]:
df['Total_Venta'] = df['Cantidad'] * df['Precio_Unitario']

In [10]:
total_ventas = df['Total_Venta'].sum()
print(f'Total de ventas: ${total_ventas:.2f}')

Total de ventas: $66209.25

In [11]:
mes_mayor = df.loc[df['Total_Venta'].idxmax(), 'Mes']
print(f'Mes con mayor venta: {mes_mayor}')

Mes con mayor venta: Septiembre

In [12]:
df.to_excel('ventas_procesadas.xlsx', index=False)

# Ejercicio 3: Filtrado de Datos

In [13]:
df_emp = pd.read_excel('empleados.xlsx')

In [14]:
df_it = df_emp[df_emp['Departamento'] == 'IT']

In [15]:
df_alto_salario = df_emp[df_emp['Salario'] > 45000]

In [16]:
df_cdmx_exp = df_emp[(df_emp['Ciudad'] == 'CDMX') &  (df_emp['Años_Experiencia'] > 5)]

In [17]:
conteo = df_emp['Departamento'].value_counts()

# EJERCICIO 4: Limpieza de Datos

In [18]:
df_sucios = pd.read_excel('datos_con_problemas.xlsx')

In [19]:
print(df_sucios.isnull().sum())

Cliente    2
Monto      3
Fecha      2
Estado     0
dtype: int64

In [20]:
df_sucios['Cliente'] = df_sucios['Cliente'].fillna('Cliente Desconocido')

In [21]:
df_sucios = df_sucios.dropna(subset=['Monto'])

In [22]:
df_sucios['Fecha'] = df_sucios['Fecha'].fillna('2024-01-01')

In [23]:
df_sucios.to_excel('datos_limpios.xlsx', index=False)

#EJERCICIO 5: Pipeline ETL Completo

In [24]:
df = pd.read_excel('ventas_mensuales.xlsx')

In [25]:
df['Total_Venta'] = df['Cantidad'] * df['Precio_Unitario']
df_filtrado = df[df['Total_Venta'] > 1000]
resumen = df_filtrado.groupby('Region')['Total_Venta'].sum().reset_index()
resumen = resumen.sort_values('Total_Venta', ascending=False)

In [27]:
resumen.to_excel('reporte_regional.xlsx', index=False)
print('Pipeline completado exitosamente')

Pipeline completado exitosamente