<a href="https://colab.research.google.com/github/l22140169-arch/Analisis-y-visualizacion-de-datos/blob/main/Ejercicios_Guia_Examen_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1: Extracción y Exploración Básica

In [49]:
import pandas as pd

In [50]:
df=pd.read_excel("ventas_mensuales.xlsx")
df

           Mes Producto  Cantidad  Precio_Unitario Region
0        Enero   Laptop        15           850.50  Norte
1      Febrero    Mouse        45            25.00    Sur
2        Marzo  Teclado        30            45.75   Este
3        Abril  Monitor        12           320.00  Oeste
4         Mayo   Laptop        18           850.50  Norte
5        Junio    Mouse        50            25.00    Sur
6        Julio  Teclado        35            45.75   Este
7       Agosto  Monitor        15           320.00  Oeste
8   Septiembre   Laptop        20           850.50  Norte
9      Octubre    Mouse        48            25.00    Sur
10   Noviembre  Teclado        32            45.75   Este
11   Diciembre  Monitor        14           320.00  Oeste

In [51]:
print(df.head())

       Mes Producto  Cantidad  Precio_Unitario Region
0    Enero   Laptop        15           850.50  Norte
1  Febrero    Mouse        45            25.00    Sur
2    Marzo  Teclado        30            45.75   Este
3    Abril  Monitor        12           320.00  Oeste
4     Mayo   Laptop        18           850.50  Norte

In [52]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mes              12 non-null     object
 1   Producto         12 non-null     object
 2   Cantidad         12 non-null     int64
 3   Precio_Unitario  12 non-null     float64
 4   Region           12 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 612.0+ bytes
None

In [53]:
print(df.shape)

(12, 5)

In [54]:
print(df.columns.tolist())

['Mes', 'Producto', 'Cantidad', 'Precio_Unitario', 'Region']

# Ejercicio 2: Transformación de Datos - Columnas  Calculadas

In [55]:
df['Total_Venta'] = df['Cantidad'] * df['Precio_Unitario']

In [56]:
total_ventas = df['Total_Venta'].sum()
print(f'Total de ventas: ${total_ventas:.2f}')

Total de ventas: $66209.25

In [57]:
mes_mayor = df.loc[df['Total_Venta'].idxmax(), 'Mes']
print(f'Mes con mayor venta: {mes_mayor}')

Mes con mayor venta: Septiembre

In [58]:
df.to_excel('ventas_procesadas.xlsx', index=False)
print("Archivo guardado correctamente")

Archivo guardado correctamente

# Ejercicio 3: Filtrado de Datos

In [59]:
df_emp = pd.read_excel('empleados.xlsx')
df_emp

,ID_Empleado,Nombre,Departamento,Salario,Años_Experiencia,Ciudad
0,101,Ana García,Ventas,35000,3,CDMX
1,102,Carlos López,IT,48000,7,Guadalajara
2,103,María Torres,RRHH,42000,5,Monterrey
3,104,Juan Pérez,Ventas,38000,4,CDMX
4,105,Laura Martínez,IT,52000,9,Guadalajara
5,106,Pedro Sánchez,Finanzas,45000,6,Monterrey
6,107,Sofia Rodríguez,RRHH,40000,5,CDMX
7,108,Diego Fernández,Ventas,36000,3,Guadalajara
8,109,Carmen Díaz,IT,50000,8,Monterrey
9,110,Luis Morales,Finanzas,47000,6,CDMX

In [60]:
df_it = df_emp[df_emp['Departamento'] == 'IT']
df_it

,ID_Empleado,Nombre,Departamento,Salario,Años_Experiencia,Ciudad
1,102,Carlos López,IT,48000,7,Guadalajara
4,105,Laura Martínez,IT,52000,9,Guadalajara
8,109,Carmen Díaz,IT,50000,8,Monterrey

In [61]:
df_alto_salario = df_emp[df_emp['Salario'] > 45000]
df_alto_salario

,ID_Empleado,Nombre,Departamento,Salario,Años_Experiencia,Ciudad
1,102,Carlos López,IT,48000,7,Guadalajara
4,105,Laura Martínez,IT,52000,9,Guadalajara
8,109,Carmen Díaz,IT,50000,8,Monterrey
9,110,Luis Morales,Finanzas,47000,6,CDMX

In [62]:
df_cdmx_exp = df_emp[(df_emp['Ciudad'] == 'CDMX') &  (df_emp['Años_Experiencia'] > 5)]
df_cdmx_exp

   ID_Empleado        Nombre Departamento  Salario  Años_Experiencia Ciudad
9          110  Luis Morales     Finanzas    47000                 6   CDMX

In [63]:
conteo = df_emp['Departamento'].value_counts()
conteo

Departamento
Ventas      3
IT          3
RRHH        2
Finanzas    2
Name: count, dtype: int64

# EJERCICIO 4: Agrupación y Agregación

In [64]:
import pandas as pd
df = pd.read_excel('ventas_mensuales.xlsx')
df['Total_Venta'] = df['Cantidad'] * df['Precio_Unitario']
resumen = df.groupby('Region')['Total_Venta'].sum()
print(resumen)

Region
Este      4437.75
Norte    45076.50
Oeste    13120.00
Sur       3575.00
Name: Total_Venta, dtype: float64

In [65]:
promedio_por_producto = (
    df.groupby("Producto")["Cantidad"]
    .mean()
    .reset_index()
    .sort_values(by="Cantidad", ascending=False))

print(promedio_por_producto)

  Producto   Cantidad
2    Mouse  47.666667
3  Teclado  32.333333
0   Laptop  17.666667
1  Monitor  13.666667

In [66]:
import pandas as pd
df = pd.read_excel("empleados.xlsx")
salario_promedio = df.groupby("Departamento")["Salario"].mean()
print(salario_promedio)

Departamento
Finanzas    46000.000000
IT          50000.000000
RRHH        41000.000000
Ventas      36333.333333
Name: Salario, dtype: float64

In [67]:
salarios_ciudad = df.groupby("Ciudad")["Salario"].agg(["min", "max"])
print(salarios_ciudad)

               min    max
Ciudad
CDMX         35000  47000
Guadalajara  36000  52000
Monterrey    42000  50000

# Ejercicio 5: Limpieza de datos

In [68]:
df_sucios = pd.read_excel('datos_con_problemas.xlsx')
df_sucios

     Cliente    Monto       Fecha     Estado
0  Empresa A  1500.50  2024-01-15     Pagado
1  Empresa B      NaN  2024-02-20  Pendiente
2        NaN  2300.75  2024-03-10     Pagado
3  Empresa D  1800.00         NaN     Pagado
4  Empresa E      NaN  2024-05-05  Cancelado
5  Empresa F  3200.50  2024-06-12     Pagado
6  Empresa G  1200.00         NaN  Pendiente
7        NaN  2500.00  2024-08-18     Pagado
8  Empresa I      NaN  2024-09-22  Pendiente
9  Empresa J  1900.00  2024-10-30     Pagado

In [69]:
print(df_sucios.isnull().sum())

Cliente    2
Monto      3
Fecha      2
Estado     0
dtype: int64

In [70]:
df_sucios['Cliente'] = df_sucios['Cliente'].fillna('Cliente Desconocido')
df_sucios

               Cliente    Monto       Fecha     Estado
0            Empresa A  1500.50  2024-01-15     Pagado
1            Empresa B      NaN  2024-02-20  Pendiente
2  Cliente Desconocido  2300.75  2024-03-10     Pagado
3            Empresa D  1800.00         NaN     Pagado
4            Empresa E      NaN  2024-05-05  Cancelado
5            Empresa F  3200.50  2024-06-12     Pagado
6            Empresa G  1200.00         NaN  Pendiente
7  Cliente Desconocido  2500.00  2024-08-18     Pagado
8            Empresa I      NaN  2024-09-22  Pendiente
9            Empresa J  1900.00  2024-10-30     Pagado

In [71]:
df_sucios = df_sucios.dropna(subset=['Monto'])
df_sucios

               Cliente    Monto       Fecha     Estado
0            Empresa A  1500.50  2024-01-15     Pagado
2  Cliente Desconocido  2300.75  2024-03-10     Pagado
3            Empresa D  1800.00         NaN     Pagado
5            Empresa F  3200.50  2024-06-12     Pagado
6            Empresa G  1200.00         NaN  Pendiente
7  Cliente Desconocido  2500.00  2024-08-18     Pagado
9            Empresa J  1900.00  2024-10-30     Pagado

In [72]:
df_sucios['Fecha'] = df_sucios['Fecha'].fillna('2024-01-01')
df_sucios

/tmp/ipython-input-1684027836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucios['Fecha'] = df_sucios['Fecha'].fillna('2024-01-01')

               Cliente    Monto       Fecha     Estado
0            Empresa A  1500.50  2024-01-15     Pagado
2  Cliente Desconocido  2300.75  2024-03-10     Pagado
3            Empresa D  1800.00  2024-01-01     Pagado
5            Empresa F  3200.50  2024-06-12     Pagado
6            Empresa G  1200.00  2024-01-01  Pendiente
7  Cliente Desconocido  2500.00  2024-08-18     Pagado
9            Empresa J  1900.00  2024-10-30     Pagado

In [73]:
df_sucios.to_excel('datos_limpios.xlsx', index=False)
print("Archivo guardado correctamente")

Archivo guardado correctamente

#EJERCICIO 7: Pipeline ETL Completo

In [74]:
df = pd.read_excel('ventas_mensuales.xlsx')
df

           Mes Producto  Cantidad  Precio_Unitario Region
0        Enero   Laptop        15           850.50  Norte
1      Febrero    Mouse        45            25.00    Sur
2        Marzo  Teclado        30            45.75   Este
3        Abril  Monitor        12           320.00  Oeste
4         Mayo   Laptop        18           850.50  Norte
5        Junio    Mouse        50            25.00    Sur
6        Julio  Teclado        35            45.75   Este
7       Agosto  Monitor        15           320.00  Oeste
8   Septiembre   Laptop        20           850.50  Norte
9      Octubre    Mouse        48            25.00    Sur
10   Noviembre  Teclado        32            45.75   Este
11   Diciembre  Monitor        14           320.00  Oeste

In [75]:
df['Total_Venta'] = df['Cantidad'] * df['Precio_Unitario']
df_filtrado = df[df['Total_Venta'] > 1000]
resumen = df_filtrado.groupby('Region')['Total_Venta'].sum().reset_index()
resumen = resumen.sort_values('Total_Venta', ascending=False)

In [76]:
resumen.to_excel('reporte_regional.xlsx', index=False)
print('Pipeline completado exitosamente')

Pipeline completado exitosamente